.mainContainer {
    display: flex;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.mainContainer img{
    width: 300px;
    border-radius: 1%;
}

.mainContainer h1,p{
    color: #212530;
}

.mainContainer .social-media ul{
    display: flex;
}

.mainContainer .social-media ul li{
    list-style: none;
    margin: 20px 15px;
}

.mainContainer .social-media ul li .fab,.fa{
    font-size: 30px;
    line-height: 60px;
    transition: .3s;
    color: #212530;
}

.mainContainer .social-media ul li .fab:hover ,.fa:hover{
    color: #ff006e;
}

.mainContainer .social-media ul li a{
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .5s;
    box-shadow: 0 7px 8px rgba(0,0,0,.5);
}

.mainContainer .social-media ul li a:hover{
    transform: translate(0, -20%);
}

@media only screen and (max-width: 1024px) {
    .mainContainer {
       
        text-align: center;
        font-size: 20px;
    }
}